* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color:  #F2F2F2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.link > li > a {
    color: #FFFF;
    margin-right: 1rem;
}

#logo {
    height: 80px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 6px;
}

/* index */
.begin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    background: linear-gradient(to bottom right, rgb(39, 174, 96), rgb(44, 62, 80));
    color: #F2F2F2;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 50px;
    margin: 0;
    border-radius: 5px;
    padding: 15px;
    border-radius: 14px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    width: 250px;
    height: 250px;
    color: #F2F2F2;
    border-radius: 50%;
    padding: 15px;
}

.box-red {
    background-color: #E74C3C;
}

.box-yellow {
    background-color: #F1C40F;
}

.box-green {
    background-color: #3CB371;
}

/* autores */
.autor {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
}
.person {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.foto {
    height: 300px;
    border-radius: 16px;
}


button {
    height: 50px;
    width: 130px;
    border-radius:7px;
    background-color: #2C3E50;
    border: none;
    margin-top: 20px;
    color: #FFFF;
}

.btn-linkedin {
    background-color: blue;
    padding: 16px;
    padding-right: 40px;
    padding-left: 30px;
    border-radius:7px;
    border: none;
    margin-top: 20px;
    color: #FFFF;
}

.btn-linkedin > img {
    position: relative;
    top: 14px;
    height: 45px;
}

.btn-git {
    background-color: black;
    padding: 16px;
    padding-right: 40px;
    padding-left: 30px;
    border-radius:7px;
    border: none;
    margin-top: 20px;
    color: #FFFF;
}

.btn-git > img {
    position: relative;
    top: 14px;
    height: 45px;
}

@media (max-width: 768px) {
  .autor {
    grid-template-columns: 1fr;
    margin-left: 20%;
  }
}

